{% load static %}
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'services' %}" class="header__logo">
        <img src="{% static 'images/maple-icon.jpg' %}" alt="maple-auto-care Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'services' %}">Home</a></li>
          <li class="header__menuItem"><a href="{% url 'services' %}">Services</a></li>
          <li class="header__menuItem"><a href="{% url 'booking-home' %}">Booking</a></li>
        </ul>
      </nav>
    </div>
  </header>
